* {
  box-sizing: border-box;
}
.grid {
  display: grid;
  height: 600px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.vertical-line {
  height: 100%;
  width: 50%;
  background-color: white;
  border-right: 1px solid black;
  pointer-events: none;
}

.horizontal-line {
  height: 50%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  pointer-events: none;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

.rotate {
  transform: rotate(180deg);
}